*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
   display: flex;
   justify-items: flex-start;
   justify-content: space-around;
}
li{
    justify-content: space-between;
}
.container{
   
    height: 4302px;
    margin: 0 50px;
}
a{
    text-decoration: none;
    color: black;
}
/* HEADER */
.header{
    
    height: fit-content;
    
   

}
.header-top{
    
    height: 40px;
    display: flex;
    line-height: 40px;
    border-bottom: 1px solid rgb(8, 7, 7);
    font-size: small;
}
.header-top-icon{
   margin-left: 160px;
   margin-right: 10px;
}
.header-top-text{
    display: flex;
    
}
.header-top-text-2{
    color: rgb(262,165,14, 100%);
}
.header-bot{
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
}
.logo{
    margin-top: 10px;
    justify-content: start;
}
.menu{
    width: 800px;
    line-height: 80px;
    /* margin: auto 0; */ 
}
.menu ul a{
    text-decoration: none;
    color: black;
}
.function{
    width: 300px;
    display: flex;
    
}
/* SEARCH */
.search-container {
    max-width: 400px;
    height: 35px;
   margin: 20px 0px 0px;
    position: relative;
}

.search-box {
    width: 243px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 10px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.search-box:focus + .search-icon {
    color: #347837;
}

.icon-list{
    display: flex;
    margin-top: 30px;
    
    
}
.icon-list i{
    margin-left: 20px;
}
.icon{
    color: black;
}






.greeting{
    background-color:rgba(117, 118, 83, 0.46) ;
   text-align: center;
   height: 35px;
}
.greeting p{
    line-height: 35px;
}
/* MAIN */
.main{
    margin: 30px 140px;
}
.slide-show img{
    display: block;
}
.fashion-type{
    display: flex;
}
.fashion-type-shirt{
    height: 535px;
    width: 400px;
    border: solid 1px black;
    margin-right: 15px;
     

}
.slide-slogan{
    margin-top: 30px;
    width: 1230px;
    height: 295px;
    border: solid 1px black;
}
.slide-product{
    display: flex;
}
.product{
    height: 535px;
    width: 297px;
    border: solid 1px black;
    margin-right: 15px;
}
.sale-img{
    margin-top: 80px;
    height: 535px;
    border: solid 1px black;
}

.search-container {
    max-width: 400px;
    height: 35px;
   margin: 20px 0px 0px;
    position: relative;
}

.search-box {
    width: 243px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 10px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.search-box:focus + .search-icon {
    color: #347837;
}
/* footer */
.contact{
    border-top: 1px solid black;
    height: 300px;
    display: flex;
}
.contact .info{
    margin-left: 150px;
}
.contact .help{
   margin: 0 200px;

}
.contact .help h3{
    margin-top: 25px;
    margin-bottom: 10px;
}
.help p{
    margin-bottom: 10px;
}
.contact .connect .social{
    display: flex;
}
.contact .connect h3{
    margin-top: 25px;
    margin-bottom: 10px;
}
.social a p i{
    color: black;
    margin-right: 10px;
}